@model SMP.app.Models.Designation

@{
    ViewBag.Title = "Create";
}

<link href="~/temp/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/temp/vendors/normalize-css/normalize.css" rel="stylesheet" />
<link href="~/temp/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
<link href="~/temp/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
<link href="~/temp/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<link href="~/temp/vendors/cropper/dist/cropper.min.css" rel="stylesheet" />

    <div class="x_panel">
        <div class="x_title">
            <a href="@Url.Action("Index", "Designation")" class="btn-primary btn-sm"><i class="fa fa-arrow-left"> Back</i></a>
        </div>
        <div class="x_content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    @Html.HiddenFor(model => model.ItbId)
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-12", })
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

@section scripts{
    <script src="~/temp/vendors/cropper/dist/cropper.min.js"></script>
    <script src="~/temp/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="~/temp/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
    <script src="~/temp/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/temp/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script>

    $('#DOB').datetimepicker({
        format: 'DD.MM.YYYY'
    });

    $('#DOA').datetimepicker({
        format: 'DD.MM.YYYY'
    });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/temp/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>


}