@model IEnumerable<SMP.app.Models.Mark>
@{
    ViewBag.Title = "Index";
}
<link href="~/temp/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/temp/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/temp/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/temp/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/temp/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/temp/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <div class="x_panel">
        <div class="x_title">
            <a onclick="location.href='@Url.Action("AddOrEdit","Marks")'" class="btn-sm btn-primary"><i class="fa fa-plus">Add New</i></a>
        </div>
        <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SchoolId)</th>
                        
                        <th>@Html.DisplayNameFor(model => model.ClassId)</th>
                        <th>@Html.DisplayNameFor(model => model.SubjectId)</th>
                        <th>@Html.DisplayNameFor(model => model.SessionId)</th>
                        <th>@Html.DisplayNameFor(model => model.TermId)</th>
                        <th>@Html.DisplayNameFor(model => model.ArmId)</th>
                        <th style="width:80px">Action</th>
                    </tr>
                </thead>

          @if (Model != null)
          {
              foreach (var item in Model)
              {
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SchoolId)</td>

                        <td>@Html.DisplayFor(modelItem => item.ClassId)</td>
                        <td>@Html.DisplayFor(modelItem => item.SubjectId)</td>
                        <td>@Html.DisplayFor(modelItem => item.SessionId)</td>
                        <td>@Html.DisplayFor(modelItem => item.TermId)</td>
                        <td>@Html.DisplayFor(modelItem => item.ArmId)</td>
                        <td>
                            <a href="@Url.Action("AddOrEdit", "Marks", new { id = item.ItbId })" class="btn-sm btn-primary" onclick=""><span class="fa fa-edit"></span></a>
                        </td>
                    </tr>
                </tbody>
               }
           }
            </table>
        </div>
    </div>




@section Scripts{
<script src="~/temp/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/temp/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/temp/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/temp/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/temp/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/temp/vendors/validator/validator.js"></script>
}

