@model IEnumerable<SMP.app.Models.SchoolfeePayment>
@{
    ViewBag.Title = "SchoolfeePayment";
}
<link href="~/temp/vendors/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/temp/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/temp/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/temp/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/temp/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/temp/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <a class="btn-sm btn-primary" id="" href="@Url.Action("AddOrEdit","SchoolfeePayment")"><i class="fa fa-plus"></i>Add New</a>
            </div>
            <div class="x_content">
                <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                    @Html.DisplayNameFor(model => model.StudentID)
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">
                                    @Html.DisplayNameFor(model => model.ClassID)
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">
                                    @Html.DisplayNameFor(model => model.ArmID)
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">
                                    @Html.DisplayNameFor(model => model.StudentType)
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">
                                    @Html.DisplayNameFor(model => model.Paycode)
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">
                                    @Html.DisplayNameFor(model => model.AmountPaid)
                                </th>
                                <th style="width:20px">
                                    (Action)
                                </th>
                            </tr>
                        </thead>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td tabindex="0" class="sorting_1">
                                            @Html.DisplayFor(modelItem => item.StudentID)
                                        </td>
                                        <td tabindex="0" class="sorting_1">
                                            @Html.DisplayFor(modelItem => item.ClassID)
                                        </td>
                                        <td tabindex="0" class="sorting_1">
                                            @Html.DisplayFor(modelItem => item.ArmID)
                                        </td>
                                        <td tabindex="0" class="sorting_1">
                                            @Html.DisplayFor(modelItem => item.StudentType)
                                        </td>
                                        <td tabindex="0" class="sorting_1">
                                            @Html.DisplayFor(modelItem => item.Paycode)
                                        </td>
                                        <td tabindex="0" class="sorting_1">
                                            @Html.DisplayFor(modelItem => item.AmountPaid)
                                        </td>
                                        <td tabindex="0" class="sorting_1">
                                            <a href="@Url.Action("AddOrEdit","SchoolfeePayment", new { id = item.itbid})" class="btn-sm btn-primary" onclick=""><span class="fa fa-edit"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }


                    </table>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script src="~/temp/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/temp/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/temp/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/temp/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/temp/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script>
            $(function () {
                var successMessage = '@TempData["SuccessMessage"]'
                if (successMessage != '')
                    alertify.success(successMessage);
            });

            function Delete(id) {
                alertify.confirm('School Management Portal', 'Are you sure to Delete this record ?', function () {
                    window.location.href = '@Url.Action("Delete", "Arm")/' + id;
                }, null)
            }
    </script>
}
